spring:
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:flixgo
    username: sa
    password: 

  h2:
    console:
      enabled: true
      
  mvc:
    hiddenmethod:
      filter:
        enabled: true
        
tmdb:
  key: ${tmdb.key}