h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 100; }

.backbutton {
  margin-top: 15px;
  margin-bottom: 15px; }

.backbutton:hover {
  background-color: #D5D5D5; }

.p-form-top {
  height: 120px; }

.form-control,
form-control-file {
  height: 45px; }

.alert {
  margin-bottom: 0px;
  position: fixed;
  width: 100%;
  z-index: 10000; }

#messages ul {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  padding: 4px;
  color: black; }
  #messages ul li {
    list-style: none;
    padding: 4px 8px;
    font-size: 18px; }

.error-message {
  color: red; }

.error-field {
  background-color: rgba(255, 192, 203, 0.8); }

nav.navbar {
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid transparent;
  border-color: black;
  border-width: 0 0 1px;
  margin-bottom: 20px;
  padding: 0; }
  nav.navbar a {
    color: #fff; }
  nav.navbar img {
    height: 40px; }

.pages-index-wrapper {
  width: 100vw;
  height: 100vh;
  background-image: url("/images/bg-top.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #000000; }
  .pages-index-wrapper .container {
    padding-top: 80px; }
    .pages-index-wrapper .container h1 {
      font-size: 56px;
      font-weight: 300;
      margin-bottom: 20px; }
    .pages-index-wrapper .container .go {
      color: #E50914; }
    .pages-index-wrapper .container h2 {
      margin-bottom: 60px; }

.users-new-wrapper {
  width: 100vw;
  height: 100vh;
  background-image: url("/images/bg-top2.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #000000;
  overflow: auto; }
  .users-new-wrapper main {
    padding-top: 80px; }

.sessions-new-wrapper {
  width: 100vw;
  height: 100vh;
  background-image: url("/images/bg-top.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #000000; }
  .sessions-new-wrapper main {
    padding-top: 80px; }

.movies-index-wrapper {
  width: 100vw;
  height: 100vh;
  background-image: url("/images/bg-top.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #000000;
  overflow: auto; }
  .movies-index-wrapper .container {
    padding-top: 80px; }
    .movies-index-wrapper .container h1 {
      font-weight: 300;
      margin-bottom: 20px; }
    .movies-index-wrapper .container h2 {
      margin-bottom: 60px; }
    .movies-index-wrapper .container .main {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start; }
      .movies-index-wrapper .container .main .movie-list {
        width: 300px;
        background-color: #222222;
        margin-right: 10px;
        margin-left: 10px;
        margin-bottom: 40px; }
        .movies-index-wrapper .container .main .movie-list img {
          width: 100%;
          object-fit: contain; }
        .movies-index-wrapper .container .main .movie-list h5 {
          font-weight: 300;
          color: white;
          margin-top: 7px;
          margin-left: 10px;
          margin-right: 10px; }

.details-index-wrapper {
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #000000;
  overflow: auto;
  justify-content: center; }
  .details-index-wrapper .container {
    margin-top: 80px;
    margin-bottom: 80px;
    padding-right: 10px;
    background-color: rgba(34, 34, 34, 0.9); }
    .details-index-wrapper .container h1 {
      font-weight: 300;
      margin-bottom: 20px;
      margin-top: 20px;
      color: white; }
    .details-index-wrapper .container p {
      margin-bottom: 20px;
      color: white; }
    .details-index-wrapper .container .movie-list {
      width: 400px;
      margin-right: 10px;
      margin-bottom: 20px; }
      .details-index-wrapper .container .movie-list img {
        width: 100%;
        object-fit: contain;
        margin-top: 12px; }
    .details-index-wrapper .container .cast-section {
      display: flex;
      overflow-x: auto;
      justify-content: flex-start; }
      .details-index-wrapper .container .cast-section p {
        font-size: 14px;
        margin-bottom: 0px;
        color: white; }
      .details-index-wrapper .container .cast-section .cast-box {
        margin-right: 10px; }
        .details-index-wrapper .container .cast-section .cast-box .carousel-image {
          width: 120px;
          border-radius: 10px;
          margin-bottom: 5px;
          box-shadow: 0px 0px 5px black; }
        .details-index-wrapper .container .cast-section .cast-box .character-name {
          font-size: 12px;
          color: #bcbcbc;
          margin-bottom: 10px; }

.topics-new-wrapper,
.comments-new-wrapper {
  padding-top: 80px; }
  .topics-new-wrapper #description,
  .comments-new-wrapper #description {
    height: 80px; }

.topics-index-wrapper {
  padding: 80px 0 20px;
  background-color: #fafafa;
  min-height: calc(100vh - 180px);
  overflow: hidden; }
  .topics-index-wrapper main {
    background-color: #fff;
    padding: 20px 0;
    margin-top: 30px;
    border: 1px solid #e6ecf0;
    border-radius: 6px; }
    .topics-index-wrapper main .author {
      margin-top: 10px;
      padding: 0 20px; }
    .topics-index-wrapper main .image {
      margin: 10px 0;
      width: 100%; }
    .topics-index-wrapper main .icons {
      display: flex;
      flex-direction: row; }
      .topics-index-wrapper main .icons .icon {
        display: block;
        width: 35px;
        height: 30px;
        margin-left: 20px; }
        .topics-index-wrapper main .icons .icon img {
          width: 35px;
          height: 30px; }
        .topics-index-wrapper main .icons .icon .favorite-on {
          -webkit-filter: invert(40%) grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(400%) contrast(2);
          filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8); }
      .topics-index-wrapper main .icons .count {
        display: flex;
        width: 10px;
        height: 30px;
        align-items: flex-end; }
    .topics-index-wrapper main .description {
      padding: 10px 20px;
      overflow: auto;
      white-space: pre-wrap;
      word-wrap: break-word;
      background-color: white;
      border: none; }
    .topics-index-wrapper main .comments ul li {
      list-style: none; }

/*# sourceMappingURL=style.css.map */
